.hero__bg{
    margin-top: 0;
    /* background: linear-gradient(to right, var(--color-light), var(--color-white)); */
    background: var(--color-white);
    width: 100vw;
    height: 90vh;
    display: grid;
}
.hero__container{
    display: grid;
    grid-template-columns: 1.1fr .9fr;
    align-items: center;
    justify-content: center;
}
.hero__left{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.hero__left .hero__heading{
    font-size: 4rem;
}
.hero__left > p{
    max-width: 450px;
    font-size: 1.7rem;
    color: var(--color-primary-soft);
}
.hero__btn{
    display: flex;
    align-items: center;
    gap: 2rem;
}
.hero__btn > button:nth-child(2){
    background: transparent;
}



.hero__card{
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    width: 90%;
}

/* ================card============= */
.hero__card .card{
    padding: 1.5rem 2rem;
    background: rgb(255, 255, 255);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: 1px solid var(--color-black-soft);
    cursor: pointer;
    transition: var(--transition);
}
.hero__card .card:hover{
    transform: translateY(-10px);
}
.hero__card .card span svg{
    font-size: 3rem;
    color: var(--color-black);
}
.hero__card .card__text{
    font-size: 1.5rem;
    color: var(--color-most-soft);
}
.hero__card-container > h5{
    font-size: 1.7rem;
}

/* =========right side=========== */
.hero__right{
    position: relative;
}
.bg__img{
    position: relative;
    left: 5%;
    top: 0;
}
.bg__img > img{
    width: 90%;
}
.overflew{
    position: absolute;
    top: 24%;
    right: 27%;
    width: 50%;
}
.overflew img{
    width: 100%;
}
.circle__bg{
    position: absolute;
    background: var(--color-logo-Right);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    left: 17%;
    top: 23.5%;
}
.circle__bg2{
    position: absolute;
    background: var(--color-logo-Right);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    right: 10%;
    top: 3%;
}
.prize{
    width: max-content;
    background: var(--color-white);
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: 1.5rem;
    padding: 2rem;
    position: absolute;
    top: 40%;
    left: -12%;
    border-radius: 5px;
    border: 1px solid var(--color-black-soft);
}
.prize  > .icon{
    width: 50px;
    height: 50px;
    border-radius: 3px;
    background: var(--color-logo-Left);
    display: grid;
    place-items: center;
}
.prize  > .icon svg{
    font-size: 3.5rem;
    color: var(--color-white);
}
.prize > .content{
    display: flex;
    flex-direction: column;
    gap: 1px;
}
.prize > .content > h1{
    font-size: 2rem;
    font-weight: 800;
}
.prize > .content > p{
    font-size: 1rem;
    font-weight: 600;
    color: var(--color-most-soft);
}
.round__circle{
    position: absolute;
    right: -50%;
    top: 15%;
    width: 300px;
    height: 300px;
    border-radius: 50% !important;
    border: 2px solid var(--color-logo-Left) !important;
}
.circle__bg3{
    position: absolute;
    left: -10px;
    top: 44%;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--color-logo-Right);
}






/* ===========Media Queries (mediam device)============= */
@media screen and (max-width: 1024px) {
    .hero__bg{
        height: max-content;
        padding: 5rem 0;
        display: grid;
    }
    .hero__container{
        grid-template-columns: 1fr;
    }
    .hero__container{
        gap: 5rem;
    }
    .hero__card{
        margin-top: 2rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
    .bg__img{
        position: relative;
        left: 70%;
        transform: translateX(-50%);
        top: 0;
    }
    .bg__img > img{
        width: 70%;
    }
    .overflew{
        position: absolute;
        top: 27%;
        left: 63%;
        transform: translateX(-50%);
        width: 50%;
    }
    .overflew img{
        width: 70%;
    }
    .circle__bg{
        left: 35%;
        top: 15%;
    }
    .circle__bg2{
        right: 16.2%;
        top: 51%;
    }
    .prize{
        top: 40%;
        left: 5%;
    }
    .round__circle{
        right: -29%;
        top: 22%;
    }
  }
  
  
  /* ===========Media Queries (small device)============= */
  @media screen and (max-width: 700px) {
    .hero__bg{
        height: max-content;
        padding: 5rem 0;
        display: grid;
    }
    .hero__left .hero__heading{
        font-size: 2.5rem;
    }
    .overflew{
        position: absolute;
        top: 28%;
        left: 56%;
        transform: translateX(-50%);
        width: 60%;
    }
    .bg__img{
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        top: 0;
    }
    .bg__img > img{
        width: 100%;
    }
    .circle__bg{
        width: 20px;
        height: 20px;
        left: 15%;
        top: 21%;
    }
    .circle__bg2{
        right: 30%;
        top: 12%;
    }
    .prize{
        top: 40%;
        left: 80%;
        padding: 1rem;
        align-items: center;
    }
    .prize  > .icon{
        width: 40px;
        height: 40px;
    }
    .prize  > .icon svg{
        font-size: 2.5rem;
    }
    .prize > .content{
        gap: 0;
    }
    .prize > .content > h1{
        font-size: 1.2rem;
    }
    .prize > .content > p{
        font-size: 0.7rem;
    }
    .hero__card {
       width: 100%;
    }
    .round__circle{
        left: -29%;
        top: 30%;
        width: 150px;
        height: 150px;
    }
    .circle__bg3{
        left: 95%;
        top: 44%;
    }
  }