.lcard__container{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* width: max-content; */
    border: 1px solid var(--color-black-soft);
    padding: 2rem 2rem 5rem;
    border-radius: 5px;
    text-align: center;
    transition: var(--transition);
}
.lcard__container:hover{
    transform: translateY(-10px);
}
.lcard__container .profile{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: var(--color-logo-Left);
    overflow: hidden;
    display: grid;
    place-items: center;
    margin: 0 auto;
}

.lcard__container .profile img{
    width: 100%;
    display: grid;
    place-items: center;
}
.lcard__container .heading{
    font-size: 2rem;
}
.lcard__container .card__des{
    font-size: 1.4rem;
}
.lcard__container button{
    background: var(--color-logo-Left);
    color: var(--color-white);
    cursor: pointer;
    width: max-content;
    padding: 5px 20px;
    border-radius: 15px;
    margin: 0 auto;
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
}
.read__bio{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.8);
    display: grid;
    place-items: center;
    z-index: 99;
}
.read__bio-bg{
    position: relative;
    width: 60%;
    margin: 0 auto;
    padding: 4rem;
    background: var(--color-primary);
    border-radius: 1rem;
    display: flex;
    gap: 2rem;
    align-items: flex-start;
    justify-content: flex-start;
}
.read__bio-bg .heading,
.read__bio-bg .card__des{
    color: var(--color-white);
    text-align: left;
}
.right__bio{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: relative;
}
.read__bio  .close__btn{
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
    display: grid;
    place-items: center;
    width: 30px;
    height: 30px;
    background: transparent;
    border: 1px solid var(--color-white-soft);
    cursor: pointer;
    color: whitesmoke;
    font-size: 2rem;
    border-radius: 2px;
}









/* ===========Media Queries (mediam device)============= */
@media screen and (max-width: 1024px) {
    .read__bio-bg{
        width: 90%;
        flex-direction: column;
    }
    
  }
  
  
