.rSlider__container{
    position: relative;
}
.slider__control{
    bottom: 0;
    right: 5rem;
    width: 350px;
    position: absolute;
}
.slider__control img{
    width: 50px;
    border-radius: 50%;
    display: grid;place-items: center;
}
.swiper-button-prev,
.swiper-button-next{
    /* display: none; */
}